@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
footer {
  text-align: center;
  background-color: #2bc7ba;
  line-height: 3em;
  color: #fff;
}

footer h5 {
  font-size: 13px;
  padding: 10px 0 0;
}

footer p {
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  padding: 5px;
}

footer img {
  vertical-align: bottom;
  padding-right: 20px;
  width: 140px;
}

body {
  font-family: 'Noto Sans TC';
}

img {
  width: 100%;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 .shadow {
  -webkit-box-shadow: 0 -0.2em #ffd400 inset;
          box-shadow: 0 -0.2em #ffd400 inset;
}

p {
  color: #191919;
  font-weight: 300;
}

.kv {
  height: 100vh;
  background: url(../images/bg4.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed;
}

.kv header {
  text-align: center;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.about {
  background-attachment: fixed;
  background-color: #393939;
  text-align: justify;
  padding-top: 60px;
  padding-bottom: 80px;
}

.about .me {
  border-radius: 100%;
  overflow: hidden;
}

.about h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.about p {
  font-size: 16px;
  line-height: 1.6em;
  color: #fff;
}

.skills {
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #494e63;
  color: #fff;
}

.skills ul {
  list-style: none;
  padding-left: 0;
}

.works {
  padding-top: 60px;
  padding-bottom: 80px;
  background: url(../images/bg5.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-attachment: fixed;
}

.works h2 {
  color: #fff;
  margin-bottom: 40px;
}

.works h2 ~ div {
  margin-bottom: 15px;
  position: relative;
}

.works h2 ~ div a {
  display: inline-block;
  position: relative;
}

.works h2 ~ div a .works-btn {
  display: none;
  position: absolute;
  border: 1px solid #fff;
  padding: 5px 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
}

.works h2 ~ div a:hover:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .6;
}

.works h2 ~ div a:hover .works-btn {
  display: block;
  font-weight: 300;
  letter-spacing: 0.06em;
}

.contact {
  background-color: #393939;
  color: #fff;
  padding: 2em 0;
}

.contact h2 {
  margin-bottom: 20px;
}

.contact .fas {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
  line-height: 0.2em;
}

.contact a {
  color: #fff;
}

footer {
  background-color: #000;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3.5rem;
  }
  .about .me {
    max-width: 260px;
    margin: auto;
  }
}
